
label {
  font-weight: bold;
}

table.pretty {
               font-size: small;
               border-top: 2px solid #666;
               border-bottom: 2px solid #666;
               }

table.pretty td,
table.pretty th {
                  border-bottom: 1px solid #444;
                  }

div.heading {
              background: #eec;
              color: #000;
              width: auto;
              border-top: 1px solid black;
              border-left: 1px solid black;
              border-right: 1px solid black;
              padding-bottom: 0px;
              padding-left: 0.2em;
              padding-right: 0.2em;
              margin-bottom: 0;
           }

div.heading h1 {
                 padding-top: 0;
                 padding-left: 0.1em;
                 padding-right: 0.1em;
                 padding-bottom: 0.5em;
                 margin-top: 0;
                 margin-bottom: 0;
                 }

div.mini-login { position: absolute;
                 right: 0;
                 top: 0;
                 width: 25%;
                 font-size: small;
                 }

div.container {
             margin: 0;
             padding-top: 0.1px; /* gets around a epiphany bug */
              }

div.menu {
           background: #eec;
           color: #000;
           float: left;
           width: 20%;
           border: none;
           border-left: 1px solid #000;
           border-right: 1px solid #000;
           border-bottom: 1px solid black;
           padding: 0.2em;
           margin-right: 2%;
           margin-top: 0;
        }

ul.menu {
          padding: 0;
          margin: 0;
          list-style-position: inside;
          }
ul.menu li {
             font-size: small
             }

div.menulist { border-top: 1px solid black; }

ul.menulist {
              list-style: none;
              }

ul.menulist li { display: inline;
                 border-left: 1px solid #000;
                 padding-left: 0.3em;
                 padding-right: 0.3em;
                 font-size: small;
                 }

ul.menulist li:first-child { border-left: 0 none;
                             }

div.login {
            font-size: x-small;
         }

div.login form p input { width: 90%; }

div.body {
	border-top: 1px solid black;
	padding: 0.4em;
	padding-top: 0;
	margin-left: 20%;
	}

div.bodyformini { clear: none; padding: 0.1em; }

div.copyright {
               padding-top: 2em;
               margin: 2em;
               clear: both;
               font-size: small;
               }

p.failure { color: red;}
p.success { color: blue;}

div.stdform { float: left; }
div.stdform h2 {
                 background-color: transparent;
                 margin: 1em 0 0.5em 0;
                 font: normal lage 'Century Gothic', sans-serif;
                 }

div.stdform form p { margin: 0 0 0.1em 1em;
                     font: Verdana, Helvetica, Arial, sans-serif;}

div.stdform form p.decoration{ display: inline; }

div.stdform form p.decoration img { float: right; }

div.stdform form p label {
                           font-weight: bold;
                           }

div.stdform div.error { border: 2px solid #f86;
                        background-color: #fdc;
                        color: #000;
                        padding: 0.3em;
                        margin: 0.2em -0.4em 0.2em -0.4em;
                        font: Verdana, Helvetica, Arial, sans-serif;
                        }

div.error { border: 2px solid #f86;
            background-color: #fdc;
            color: black;
            padding: 0.3em;
            margin: 1em;
            width: 70%;
            font: Verdana, Helvetica, Arial, sans-serif;
            }

div.stdform span.mandatory{ color: #f00; }

div.stdform div.radiolist { margin-top: 1em; }

div.stdform div.radiolist p { margin: 0 0 0.4em 0;
                              text-align: right;
                              }

div.stdform div.radiolist p label {
                                    float: right;
                                    margin-left: 0;
                                    text-align: left;
                                    padding-left: 0.3em;
                                    }


div.stdform label {width:150px; float: left; margin-bottom:10px;}

div.stdform input[type="checkbox"] { float:left; }

div.stdform p { clear:left; }

div.stdform fieldset { display:inline; }

/* Sortable tables */
table.sortable a.sortheader {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    text-decoration: none;
    display: block;
}
table.sortable span.sortarrow {
    color: black;
    text-decoration: none;
}