<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Linux Australia Membership Database</title>
    {% endif %}
  </head>
  <body>
    <div>Linux Australia Membership Database <a href="/index">Home</a></div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>