{% extends "layout.html" %}
{% block content %}

  <div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">
      Welcome to the Linux Australia Membership Database. If you are not already
      a member please click the signup link to join, membership is free and open
      to all!
    </p>
    <p>
      <a class="btn btn-lg btn-success" href="/signup" role="button">
        Sign up today
      </a>
    </p>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>About Linux Australia</h4>
      <p>
        Linux Australia is the peak body for Open Source communities in
        Australia. Linux Australia represents approximately 5000 Australian
        users and developers of Free Software and Open Technologies, and
        facilitates internationally-renowned events including linux.conf.au
        -- Australasia's grassroots Free and Open Source Software Conference.
      </p>

      <h4>Values</h4>
      <p>
        Linux Australia is voluntarily bound by the principles embodied by its
        <a href="https://www.linux.org.au/values">statement of values</a> and
        the articles of association, and undertakes to operate at all times in
        an open, transparent and democratic manner.
      </p>

      <h4>Members</h4>
      <p>
        Members of Linux Australia participate in sub-committees and special
        interest groups, organise events or stand for election to the Linux
        Australia <a href="https://www.linux.org.au/council">council</a>.
      </p>
    </div>

    <div class="col-lg-6">
      <h4>linux.conf.au</h4>
      <p>
        Linux Australia facilitates the organisation of
        <a href="httpw://www.linux.org.au/LCA">linux.conf.au</a>, a premier
        international Linux conference, in a different Australasian city each
        year.
      </p>

      <h4>Conferences</h4>
      <p>
        Linux Australia assists with the organisation of
        <a href="https://www.linux.org.au/calendar">associated open source
        conferences</a>.
      </p>

      <h4>Projects</h4>
      <p>
        More information on some of the projects undertaken by Linux Australia
        can be found on the
        <a href="https://www.linux.org.au/our-projects">projects</a> page.
      </p>
    </div>
  </div>

{% endblock %}
